.navigation-tablet{
    position:relative;
    top:0;
    left:0;
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:2vh 7.5vw;
    z-index:100;
    color:#000;
    background:#fff;
}

.navigation-tablet .logo img{
    width:5vw;
}
.navigation-tablet .menu img{
    width:3vw;
}
.navigation-tablet .menu{
    text-align:right;
    padding:2vh 5vw;
}
.navigation-tablet .menu-panel{
    width:100vw;
    height:100vh;
    /* background:#000; */
    position:fixed;
    top:0;
    left:100vw;
    transition:1s ease-in-out;
    padding:5vh 0vw;
    color:#000;
}
.navigation-tablet .menu-panel .background{
    position:absolute;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    transition:.2s ease-in-out;
}
.navigation-tablet .menu-panel .close{
    text-align:right;
    color:#fff;
    font-size:7.5vw;
    padding:none;
    margin:none;
}
.navigation-tablet .menu-toggled{
    left:0;
}
.navigation-tablet .menu-panel .navigation-content{
    background:#000;
    width:70vw;
    position:absolute;
    top:0;
    right:0;
    margin:auto;
    padding:3vh 5vw;
    text-align:center;
    height:100vh;
    transition:.5s ease-in-out;
}
.navigation-tablet .links{
    font-size:2vw;
    text-align:center;
    text-decoration:none;
    padding:15vh 0;
    margin:auto;
}
.navigation-tablet .links span{
    text-align:center;
    display:block;
    margin-bottom:2vh;
}
.navigation-tablet .link-items{    
    color:#fff;
    text-decoration:none;
}
.navigation-tablet .links .logout{
    padding:1vh .75vw;
    font-size:2vw;
    border:none;
    border-radius:5px;
    width:23vw;
    text-align:center;
    background:#f00;
    color:#fff;
}